# Data Wrangling

Identify and handle missing values
 * Identify missing values
 * Deal with missing values
 * Correct data format

Data standardization

Data Normalization (centering/scaling)

Binning

Indicator variable

<h2>What is the purpose of Data Wrangling?</h2>

Data Wrangling is the process of converting data from the initial format to a format that may be better for analysis.

In [1]:
import pandas as pd
import matplotlib.pylab as plt 

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df = pd.read_csv('auto.csv', names = headers)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h2 id="identify_handle_missing_values">Identify and handle missing values</h2>


<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B

In [2]:
import numpy as np
df.replace("?", np.nan, inplace = True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450


<h4>Evaluating for Missing Data</h4>

to identify missing values, there are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [3]:
missing_data = df.isnull()
missing_data.head(3)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h4>Count missing values in each column</h4>
<p>
 As mentioned above, "True" represents a missing value.the method ".value_counts()"  counts the number of "True" values. 
</p>

In [4]:
for column in missing_data.columns.values.tolist() :
    if True in missing_data[column].value_counts():
        print(column)
        print(missing_data[column].value_counts(), '\n')

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

Based on the summary above, each column has 205 rows of data, seven columns containing missing data:
<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

In [ ]:
avg_norm_loss = df["normalized-losses"].astype('float').mean(axis=0)
print(avg_norm_loss) 
df['normalized-losses'].replace(np.nan, avg_norm_loss, inplace = True)
df[['normalized-losses']].head()

Let's do same thing for "stroke", "bore", "horsepower", "peak-rpm"

In [ ]:
list =[ "stroke", "bore", "horsepower", "peak-rpm"]
for i in list:
    df[i].replace(np.nan, df[i].astype('float').mean(axis=0), inplace=True)
    print('mean of', i,':', df[i].astype('float').mean(axis=0))

In [ ]:
pd.set_option('display.max_rows', None)
df[list]

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

In [ ]:
print(df['num-of-doors'].value_counts(),'\n')
print('more commun type is : ', df['num-of-doors'].value_counts().idxmax())

df['num-of-doors'].replace(np.nan, 'four', inplace=True)

<b>Drop the whole row:</b>
<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

In [ ]:
df.dropna(subset=['price'], axis=0, inplace=True)

#reset index, because we droped two rows 
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

In [ ]:
# to see there are how many missing values in df
print(df.isnull().sum().sum())
print('Great! Now there is not any missing value in data frame')

<h3 Correct data format</h3
    The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).

<h3 id="correct_data_format">Correct data format</h3>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>
<p>However we can do this step before dealing with missing data.Because it can be useful while calculate the mean etc. </p>

In [ ]:
df.dtypes

<p>As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.</p>

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

In [ ]:
df.dtypes

We obtain the cleaned dataset with no missing values and all data in its proper format.

<h2 id="data_standardization">Data Standardization</h2>
<p>Standardization is the process of transforming data into a common format to make the meaningful comparison.
</p>
<p>
Data Standardization is also a term for a particular type of data normalization
</p>

<b>Example</b>
<p>Transform mpg to L/100km:</p>
<p>In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accept the fuel consumption with L/100km standard</p>
<p>We will need to <b>transform</b> "mpg" into "L/100km?"</p>
<p>The formula for unit conversion is<p>
L/100km = 235 / mpg

In [ ]:
df['city-L/100km'] = 235/df['city-mpg']
df['highway-L/100km'] = 235/df['highway-mpg']
#if you don't want to make a new column
# df['city-mpg'] = 235/df['city-mpg']
# df.rename(columns = {'city-mpg': 'city-L/100km'}, inplace=True)

df.head()

<h2 id="data_normalization">Data Normalization</h2>

<b>Why normalization?</b>
<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1
</p>

In [ ]:
#their value ranges from 0 to 1

df['height'] = df['height']/df['height'].max()
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

df[["length","width","height"]].head()

<h2 id="binning">Binning</h2>

<b>Why binning?</b>
<p>
    Binning is a process of transforming continuous numerical variables into discrete categorical 'bins', for grouped analysis.
</p>

<b>Example: </b>
<p>In our dataset, "horsepower" is a real valued variable ranging from 48 to 288, it has 57 unique values. What if we only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? Can we rearrange them into three â€˜bins' to simplify analysis? </p>

<p>We will use the Pandas method <b>'cut'</b> to segment the 'horsepower' column into 3 bins </p>

<h3>Example of Binning Data In Pandas</h3>

 Convert data to correct format

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

Lets plot the histogram of horspower, to see what the distribution of horsepower looks like.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.hist(df["horsepower"])
# default value of bin is 10.
# but we can arrange the number of bins as follows 
# plt.hist(df['horsepower'], bins=15)

# set x/y labels and plot title
plt.xlabel("horsepower")
plt.ylabel("count")
plt.title("horsepower bins")

We want to create 3 bin(3 groups - so 4 dividers).So we need 3 parameters :
1. min value
2. max value
3. number of dividers

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
print(bins)
#  We set group  names:
group_names = ['Low', 'Medium', 'High']

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True)
df[['horsepower','horsepower-binned']].head()

In [ ]:
df['horsepower-binned'].value_counts()

In [ ]:
plt.hist(df["horsepower-binned"])
# set x/y labels and plot title
plt.xlabel("horsepower-binned")
plt.ylabel("count")
plt.title("horsepower bins")

<h2 id="indicator">Indicator variable (dummy variable)</h2>

<p>
    An indicator variable (dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<p>
    So we can use categorical variables for regression analysis in the later modules.
</p>

<b>Example</b>
<p>
    We see the column "fuel-type" has two unique values, "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" into indicator variables.
</p>

<p>
    We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type. 
</p>

In [ ]:
dummy_var_1 = pd.get_dummies(df['fuel-type'])
dummy_var_1.head()

In [ ]:
# merge data frame "df" and "dummy_var_1" 
df = pd.concat([df, dummy_var_1], axis=1)
# drop original column "fuel-type" from "df"
df.drop('fuel-type', axis=1, inplace=True)
df.head()

The last two columns are now the indicator variable representation of the fuel-type variable. It's all 0s and 1s now.

In [ ]:
dummy_var_2 = pd.get_dummies(df['aspiration'])

# merge data frame "df" and "dummy_var_2" 
df = pd.concat([df, dummy_var_2], axis=1)
# drop original column "aspiration" from "df"
df.drop('aspiration', axis=1, inplace=True)
df.head()

In [ ]:
pd.set_option('display.max_columns', None) # we can see all columns with this code
df.head()

In [ ]:
df.to_csv('clean_df_auto.csv', index=False)